@import "../common/base";
@import "../common/module";

body {
    min-width: 900px;
}
#dom1 {
    position: relative;
    background: gray;
    width: 50px;
    height: 50px;
    left: 100px;
    transform: scale(2, 1);
}
#svg1 {
    width: 500px;
}