<%
var conf = {
    title : '',
    js: ['index'],
    css: ['index']
};
%>

<% include ../common/head %>
<div id="overflow">
    <div id="of1">
        <div id="of2"></div>
    </div>
</div>

<div id="main" class="main">
    <div class="test1"></div>
    <div class="test1"></div>
    <div class="test1"></div>

    <div id="dom1" class="class1"><div id="a"></div></div>

    <div>
        <svg version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px"
             y="0px"
             width="200"
             height="200"
             viewBox="0 0 300 300"
             enable-background="new 0 0 300 300" xml:space="preserve">


            <path
                id="path1"
                fill="#FFFFFF"
                stroke="#000000"
                stroke-width="1"
                stroke-miterlimit="10"></path>
        </svg>
    </div>

</div>
<% include ../common/foot %>