$pc-width: 1140px;
$tb-width: 768px;

$gray-dark: #666666;
$gray: #999999;
$gray-light: #dbdbdb;
$gray-lighter: #ebebeb;

$blue: #0086d1;
$blue-light: #1a92d6;
$blue-lighter: #40a4dd;
$blue-lightest: #A8D8F5;

$red: #D23523;
$white: #fff;
$shadow: #888;